body {
    background-color:;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.carousel{
    height: 550px!important;
}

#header {
    width: 100%;
}

#logo {
    margin-left: 20px;
}

#pesquisa-voos  {
    display: inline-block;
}

#pesquisa-voos #origem, #destino, .input-field{
    margin-right: 20px;
}

#origem, #destino, .input-field{
    display: inline-block;
}

.container h1 {
    font-size: 23px;
    font-weight: bold;
}

.container h2 {
    font-size: 19px;
    font-weight: bold;
}

.col {
    padding: 0px!important;
}